<html>
  <head>
      <link rel="stylesheet" href="style.css"/>
    <title>
      Tadej Bučar | Fakebook
    </title>
    <link rel="stylesheet" href="/assets/css/style.css">

      <body>
        <h1 class="skatla" id="naslov"><em>FAKEBOOK</em></h1>
        Iskalnik: <input type="text" placeholder="Search.." id="iskanje">
        <h2>Tadej Bučar</h2>
        <img class="slika" src="https://e3.365dm.com/17/11/768x432/skysports-arsenal-tottenham-celebrate_4159318.jpg"  height="240" width="320"> </br> </br>
        <button type="button" id="knof">Dodaj za prijatelja</button>
      <p>  <strong class="q">Kraj:</strong> Trbovlje </p>
      <p>  <strong class="q">Starost:</strong> 20+ </p>
      <p>  <strong class="q">Izobrazba:</strong> Je </p>
      <p>  <strong class="q">Hobi:</strong> / </p>
      <p>  <strong class="q">Število FB prijateljev:</strong> 2837615683218873218 </p>
      <p>  <strong class="q">Število FB neprijateljev:</strong> </p>
      </body>

  </head>
</html>
